POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence_password
POSTGRES_DB=transcendence
DATABASE_URL=postgresql://transcendence:transcendence_password@localhost:5432/transcendence



BACKEND_PORT=3001
JWT_SECRET=FT_TRANSCENDENCE_SECRET_2026
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
CORS_ORIGIN="http://localhost:3000"


GOOGLE_CLIENT_ID=928084996527-ugsto469c7l8snr8g8rh3vvqgv0l3f3k.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL="http://localhost:3000/callback"